.quizComponent {
  width: 100%;
  color: white
}

.questionContainer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  margin-bottom: 80px
}

.user-stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 20px;
}

.question {
  font-size: 4rem;
  font-weight: bold;
}

.optionContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  padding: 30px;
  cursor: pointer;
  color: white;
  background: #383585;
  font-size: 2rem;
  border-radius: 50px;
  font-weight: bold;
}

.optionContainer input {
  display: none;
}

.optionContainer:hover  {
  background: #403e92;
}

.option-selected {
  background: white;
  color: #383585;
}

.option-selected:hover {
  background: white;
  color: #383585;
}

.option-correct {
  color: #383585 !important;
  background: rgb(118, 199, 118) !important;
}

.option-incorrect {
  color: #383585 !important;
  background: rgb(219, 151, 151)  !important;
}