.StartPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
}

.StartPage * {
    color: rgb(255, 255, 255);
}

.StartPage-header {
    font-size: 3rem;
    margin: 0;
}

.StartPage-filters-sections {
    display: flex;
    justify-content: space-around;
    width: 100%;

    margin: 50px;
}

.StartPage-dropdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.StartPage-dropdown-label {
    margin: 5px;
    font-size: 1.5rem;
}

.StartPage-dropdown {
    margin: 5px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background: #383585;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    width: 200px;
}

.StartPage-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: margin 0.2s, height 0.2s, width 0.2s, font-size 0.2s;
    padding: 15px 20px 20px 20px;
    margin: 10px 0;
    font-size: 2rem;
    border: none;
    background: #383585;
    border-radius: 10px;
    width: 550px;
    height: 80px;
}

.StartPage-button:hover {
    width: 700px;
    height: 100px;
    margin: 0;
    font-size: 2.3rem;
    background: #383585;
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .StartPage {
        width: 70%;
    }

}

@media screen and (max-width: 1024px) {
    .StartPage-header {
        font-size: 2rem;
        margin: 10px;
        text-align: center;
    }

    .StartPage-filters-sections {
        flex-direction: column;
        width: 100%;
    
        margin: 30px 20px;
    }
}

@media screen and (max-width: 768px) {
    .StartPage {
        width: 100%;
    }
}